<!doctype html>
<html lang="en">
    <head>
        <!-- Begin SEO -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <!-- Begin favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png" />
        <link rel="manifest" href="/assets/images/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <!-- End favicon -->

        <!-- HTML Meta Tags -->
        <title>gulp build template</title>
        <meta name="description" content="gulp build template" />
        <meta name="robots" content="nofollow, noindex" />
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="gulp build template" />
        <meta property="og:description" content="gulp build template" />
        <meta property="og:image" content="/assets/images/symbol.svg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="" />
        <meta property="twitter:url" content="" />
        <meta name="twitter:title" content="gulp build template" />
        <meta name="twitter:description" content="gulp build template" />
        <meta name="twitter:image" content="/assets/images/symbol.svg" />
        <!-- End SEO -->

        <!-- Begin Link -->
        <link rel="stylesheet" href="assets/fonts/fonts.css" />

        <link rel="stylesheet" href="assets/styles/styles.css" />
        <!-- End Link -->
    </head>

    <!-- tt-transition tt-magic-cursor tt-scroll-social tt-scroll-smooth -->
    <body class="tt-scroll-smooth tt-magic-cursor" id="body">
        <!-- ======================== Begin loading ======================== -->
        <div class="loading"></div>
        <!-- End loading -->

        <!-- ======================== Begin magic cursor ======================== -->
        <div id="magic-cursor">
            <div id="ball"></div>
        </div>
        <!-- End magic cursor -->

        {% include './header.html' %}

        <!-- *************************************
        *********** Begin Main *************
        ************************************** -->
        <main class="main">{% block main %}{% endblock %}</main>
        <!-- End main -->

        {%include './footer.html' %}

        <!-- Begin script -->
        <script defer src="assets/libs/jquery.min.js"></script>
        <script defer src="assets/libs/gsap.min.js"></script>
        <script defer src="assets/libs/scrollTrigger.min.js"></script>
        <script defer src="assets/libs/lettering.js"></script>
        <script defer src="assets/js/scripts.js"></script>
        <!-- End script -->
    </body>
</html>
