.container {
    @apply px-6 lg:max-w-[1180px] xl:px-0;
}

.magic-slider-button {
    @apply static inset-auto m-0 block h-12 w-12;
    &::after {
        @apply hidden;
    }
}

/* ------------------------------------------------------------- *
 * magic cursor
/* ------------------------------------------------------------- */

#magic-cursor {
    @apply pointer-events-none absolute z-[var(--z-cursor)] hidden h-[10px] w-[10px] cursor-none opacity-0 mix-blend-difference;
}

.tt-magic-cursor {
    [data-cursor] {
        @apply cursor-none;
    }
}

#ball {
    @apply pointer-events-none fixed flex cursor-none items-center justify-center rounded-full border border-solid border-white text-white;
}

.magnetic-wrap {
    @apply relative flex cursor-none items-center justify-center;
}

.anim-nav-bg {
    @apply pointer-events-none absolute inset-0 bg-cover bg-center bg-no-repeat;
}

.cursor-pn-image {
    @apply hidden h-full w-full;
    img {
        @apply h-full w-full object-cover;
    }
}

.magic-cursor-slider {
    @apply cursor-none;
}

.not-hide-cursor {
    // @apply cursor-none;
}

.cursor-page-nav {
    @apply relative z-20 cursor-none mix-blend-difference;
}

.cursor-page-link {
    @apply relative z-20 cursor-none;
}

.tt-pn-scroll {
    @apply w-full max-w-[800px] text-center;
}

.tt-pn-title {
    @apply relative left-1/2 block overflow-hidden whitespace-nowrap leading-[1.6] opacity-40;
    font-size: clamp(42px, 6vw, 110px);
    transform: translate3d(-50%, 0, 0);
    transition: transform 0.6s cubic-bezier(0.51, 0.57, 0.17, 1);
    text-overflow: ellipsis;
}

.tt-pn-hover-title {
    @apply absolute left-1/2 whitespace-nowrap leading-[1.6];
    font-size: clamp(36px, 6vw, 110px);
    transform: translate3d(-50%, 100%, 0);
    transition: transform 0.6s cubic-bezier(0.51, 0.57, 0.17, 1);
    span {
        @apply inline-flex items-center pr-[5vw];
        @media (min-width: theme('screens.lg')) {
            animation: marquee 7s linear infinite;
            animation-play-state: paused;
        }
        // &::after {
        //     @apply absolute right-[1.9vw] top-[56%] block h-[0.8vw] w-[0.8vw] rounded-full bg-primary content-[''];
        //     transform: translate3d(0, -50%, 0);
        // }
    }
}

.tt-pn-link {
    @apply relative flex flex-col items-start overflow-hidden;
    &:hover {
        .tt-pn-hover-title {
            transform: translate3d(-50%, 0, 0);
            transition-delay: 0.1s;
            span {
                @media (min-width: theme('screens.lg')) {
                    animation-play-state: running;
                }
            }
        }

        .tt-pn-title {
            transform: translate3d(-50%, -100%, 0);
            transition-delay: 0.1s;
        }
    }
}

#magic-cursor.pn-hover-on {
    z-index: 11;
}

#magic-cursor.pn-hover-on {
    #ball {
        z-index: -1;
        @apply overflow-hidden border-none;
        .cursor-pn-image {
            @apply block;
        }
    }
}

/* Ball view
============= */
#ball .ball-view {
    @apply invisible absolute h-full w-full scale-0 text-center text-sm opacity-0;
}

.cursor-pn-discover {
    @apply absolute left-1/2 top-1/2 flex h-8 -translate-x-1/2 -translate-y-1/2 cursor-none items-center justify-center overflow-hidden;
    &.--left {
        @apply right-full pr-5;
    }
    span {
        @apply b1 block whitespace-nowrap text-primary;
    }
}

.cursor-slider {
    background: url(../images/ic_arrow_right.svg) center/contain no-repeat;
    @apply absolute left-1/2 top-1/2 h-9 w-9 -translate-x-1/2 -translate-y-1/2 cursor-none transition-transform duration-[var(--t)];

    &.prev {
        @apply -rotate-180;
    }
}
/* ------------------------------------------------------------- *
 * magic cursor
/* ------------------------------------------------------------- */

.tt-draggable,
.tt-draggable * {
    @apply touch-none;
}

.tt-magic-cursor {
    #magic-cursor {
        @apply block;
    }
}

.tt-image {
    @apply relative h-auto w-full overflow-hidden pb-[65%];
    > div,
    img {
        @apply absolute left-0 top-0 h-full w-full object-cover object-center;
    }
}

.tt-link-hover {
    @apply relative cursor-pointer;
    &.active-link,
    &:hover {
        @apply before:origin-left before:scale-x-100;
    }
    &::before {
        @apply bg-dark absolute -bottom-1 h-[1px] w-full origin-right scale-x-0 transition-transform duration-[var(--t)] content-[''];
    }
}

.tt-video {
    @apply relative overflow-hidden;
    iframe {
        @apply absolute left-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2;
    }
    @media (min-aspect-ratio: 16/9) {
        iframe {
            /* height = 100 * (9 / 16) = 56.25 */
            height: 60.25vw;
        }
    }
    @media (max-aspect-ratio: 16/9) {
        iframe {
            /* width = 100 / (9 / 16) = 177.777777 */
            width: 200.78vh;
        }
    }
}

.hamburger {
    @apply relative h-6 w-8 px-2 pl-0;
    span {
        @apply absolute left-0 block h-[1px] w-7 rounded-full bg-primary transition-all duration-[var(--t)];

        &:nth-of-type(1) {
            @apply top-1;
        }

        &:nth-of-type(2) {
            @apply top-1/2 -translate-y-1/2;
        }

        &:nth-of-type(3) {
            @apply bottom-1 w-5;
        }
    }

    &.active-nav {
        span {
            &:nth-of-type(1) {
                @apply left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 rotate-45;
            }

            &:nth-of-type(2) {
                @apply w-0;
            }

            &:nth-of-type(3) {
                @apply bottom-1/2 left-1/2 w-full -translate-x-1/2 translate-y-1/2 -rotate-45;
            }
        }
    }
}

.contact-form {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #fff;
    }
}

.modal-contact-form {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: var(--color-dark);
    }
}

[data-split-text] {
    span {
        @apply inline-block;
        span {
            @apply inline-block;
        }
    }
}
